<h1 class='text-center mb-3'>Add observation</h1>

<form>
  <fieldset>
    <div class='input-group mb-3'>
      <span class='input-group-text' name='inputGroup-sizing-default'>Date
      </span>
      <PikadayInput
        class='form-control'
        @format='YYYY-MM-DD'
        @value={{this.obserDate}}
        @onSelection={{this.onDateChange}}
        @readonly={{'readonly'}}
        data-test-input-pikaday
      />
    </div>
    <div class='input-group mb-3'>
      <span class='input-group-text' name='inputGroup-sizing-default'>Bird
      </span>
      <input
        type='birdname'
        class='form-control'
        aria-label='Sizing example input'
        aria-describedby='inputGroup-sizing-default'
        value={{this.birdname}}
        {{on 'input' this.onBirdnameChange}}
        data-test-input-birdname
      />
    </div>
    <div class='input-group mb-3'>
      <span class='input-group-text' name='inputGroup-sizing-default'>Location
      </span>
      {{#if this.isShowMapModal}}
        <input
          type='location'
          class='form-control'
          aria-label='Sizing example input'
          aria-describedby='inputGroup-sizing-default'
          disabled
          data-test-input-location
        />
      {{else}}
        <input
          type='location'
          class='form-control'
          aria-label='Sizing example input'
          aria-describedby='inputGroup-sizing-default'
          value={{this.locations}}
          {{on 'click' this.showMapModal}}
          {{on 'keyup' this.showMapModal}}
          data-test-input-location
        />
      {{/if}}
      {{#if this.isShowMapModal}}
        <ObservationForm::MapModal
          @onLatLocationChange={{this.onLatLocationChange}}
          @onLngLocationChange={{this.onLngLocationChange}}
          @hideMapModal={{this.hideMapModal}}
        />
      {{/if}}

    </div>

    <div class='input-group mb-3'>
      <span
        class='input-group-text'
        name='inputGroup-sizing-default'
      >Notes</span>
      <textarea
        class='form-control'
        id='exampleFormControlTextarea1'
        rows='3'
        value={{this.notes}}
        {{on 'input' this.onNotesChange}}
        data-test-input-notes
      ></textarea>
    </div>
    <div class='mb-3 row'>
      <div class='d-flex'>
        <button
          type='button'
          class='btn w-50 btn-lg btn-primary active mr-1'
          disabled={{this.isEmptyField}}
          {{on 'click' this.onSave}}
          data-test-button-save
        >Save</button>
        <button
          type='button'
          class='btn w-50 btn-lg btn-primary active mr-1'
          {{on 'click' this.onCancel}}
          data-test-button-cancel
        >Cancel</button>
        <button
          type='button'
          class='btn w-50 btn-lg btn-primary active mr-1'
          {{on 'click' this.clear}}
          data-test-button-clear
        >Clear</button>
      </div>
    </div>
  </fieldset>
</form>
{{#if this.isShowAddObservationModal}}
  <ObservationForm::AddObservationModal
    @hideAddObservationModal={{this.hideAddObservationModal}}
  />
{{/if}}