<h1 class='text-center mb-3'>Add observation</h1>

<form>
  <fieldset>
    <div class='input-group mb-3'>
      <span
        class='input-group-text'
        name='inputGroup-sizing-default'
      >Date</span>
      <PikadayInput
        @format='YYYY-MM-DD'
        @value={{this.obserDate}}
        @onSelection={{this.onDateChange}}
        @readonly={{'readonly'}}
      />
    </div>
    <div class='input-group mb-3'>
      <span
        class='input-group-text'
        name='inputGroup-sizing-default'
      >Bird</span>
      <input
        type='birdname'
        class='form-control'
        aria-label='Sizing example input'
        aria-describedby='inputGroup-sizing-default'
        value={{this.birdname}}
        {{on 'input' this.onBirdnameChange}}
      />
    </div>
    <div class='input-group mb-3'>
      <span
        class='input-group-text'
        name='inputGroup-sizing-default'
      >Location</span>
      {{#if this.isShowModal}}
        <input
          type='location'
          class='form-control'
          aria-label='Sizing example input'
          aria-describedby='inputGroup-sizing-default'
          disabled
        />
      {{else}}
        <input
          type='location'
          class='form-control'
          aria-label='Sizing example input'
          aria-describedby='inputGroup-sizing-default'
          value={{this.locations}}
          {{on 'click' this.showModal}}
        />
      {{/if}}
      {{#if this.isShowModal}}
        <ObservationForm::Modal
          @onLatLocationChange={{this.onLatLocationChange}}
          @onLngLocationChange={{this.onLngLocationChange}}
        />
      {{/if}}

    </div>

    <div class='input-group mb-3'>
      <span
        class='input-group-text'
        name='inputGroup-sizing-default'
      >Notes</span>
      <textarea
        class='form-control'
        id='exampleFormControlTextarea1'
        rows='3'
        value={{this.notes}}
        {{on 'input' this.onNotesChange}}
      ></textarea>
    </div>
    <div class='mb-3 row'>
      <div class='d-flex'>
        <button
          type='submit'
          class='btn w-50 btn-lg btn-primary active mr-1'
          disabled={{this.isEmptyField}}
          {{on 'click' this.onSave}}
        ><LinkTo @route='home.observations'>Save</LinkTo></button>
        <button
          type='button'
          class='btn w-50 btn-lg btn-primary active mr-1'
        >Cancel</button>
        <button
          type='button'
          class='btn w-50 btn-lg btn-primary active mr-1'
          {{on 'click' this.clear}}
        >Clear</button>
      </div>
    </div>
  </fieldset>
</form>