<GMap
  class='main-map'
  @lat={{this.session.userCoordinates.lat}}
  @lng={{this.session.userCoordinates.lng}}
  @zoom={{12}}
  @styles={{this.myMapStyle}}
  @minZoom={{10}}
  @panControl={{false}}
  @streetViewControl={{false}}
  @onceOnIdle={{this.saveStartBounds}}
  @onBoundsChanged={{this.onBoundsChange}}
  data-test-main-map
  as |map|
>

  {{#each @observations as |observation index|}}
    <map.marker
      @lat={{observation.latLocation}}
      @lng={{observation.lngLocation}}
      @onClick={{fn this.markerTooltipOpen observation}}
      as |marker|
    >
      <marker.infoWindow @isOpen={{eq observation.id this.isOpenObservationId}}>
        <div class='text-center'>
          <span data-test-info-window={{index}}>
            {{observation.birdname}}
          </span>
        </div>
      </marker.infoWindow>
    </map.marker>
  {{/each}}
</GMap>

<div class='observations-under-map'>
  {{#if this.isLoaded}}
    <MyMap::ShowAllObservations::ObservationsOnMapTable
      @observations={{@observations}}
      @currentLatBounds={{this.currentLatBounds}}
      @currentLngBounds={{this.currentLngBounds}}
    />
  {{else}}
    <div class='small-spinner'>
      <span class='loader'></span>
    </div>
  {{/if}}
</div>