<GMap
  class='main-map'
  @lat='49.668437'
  @lng='19.189728'
  @zoom={{12}}
  @styles={{this.myMapStyle}}
  @minZoom={{10}}
  @panControl={{false}}
  @streetViewControl={{false}}
  @onceOnIdle={{this.saveBounds}}
  @onBoundsChanged={{this.saveBounds}}
  as |map|
>
  <MyMap::ShowAllObservations::ObservationsOnMapTable
    @observations={{@observations}}
  />

  {{#each @observations as |observation|}}
    <map.marker
      @lat={{observation.latLocation}}
      @lng={{observation.lngLocation}}
      @draggable={{true}}
      @onClick={{fn this.markerTooltipOpen observation}}
      as |marker|
    >
      <marker.infoWindow @isOpen={{eq observation.id this.isOpenObservationId}}>
        <div class='text-center'>
          <div>
            {{observation.birdname}}
          </div>
        </div>
      </marker.infoWindow>
    </map.marker>
  {{/each}}
</GMap>