<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Date</th>
      <th scope='col'>Birdname</th>
      <th scope='col'>Observator</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.currentMapObservations as |observation index|}}
      <tr>
        <td data-test-observation-observationDate={{index}}>{{moment-format
            observation.observationDate
            'DD-MM-YYYY'
          }}</td>
        <td
          data-test-observation-birdname={{index}}
        >{{observation.birdname}}</td>
        <td
          data-test-observation-username={{index}}
        >{{observation.owner.username}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>