<span class='date'>
  <div class='input-group mb-3'>
    <span class='input-group-text' name='inputGroup-sizing-default'>From:</span>
    <PikadayInput
      @format='YYYY-MM-DD'
      @value={{this.dateFrom}}
      @onSelection={{this.onDateFromChange}}
      @readonly={{'readonly'}}
    />
  </div>
</span>
<span class='date'>
  <div class='input-group mb-3'>
    <span class='input-group-text' name='inputGroup-sizing-default'>To:</span>
    <PikadayInput
      @format='YYYY-MM-DD'
      @value={{this.dateTo}}
      @onSelection={{this.onDateToChange}}
      @readonly={{'readonly'}}
    />
  </div>
</span>
<button
  type='button'
  class='btn btn-secondary'
  {{on 'click' this.sortToggle}}
>Sort by birdname
  {{this.sortArrow}}
</button>
<button
  type='button'
  class='reset btn btn-dark'
  {{on 'click' this.clearFields}}
>Clear
</button>

<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Date</th>
      <th scope='col'>Bird name</th>
      <th scope='col'>Latitude</th>
      <th scope='col'>Longitude</th>
      <th scope='col'>Notes</th>
    </tr>
  </thead>
  <tbody>
    {{#each @observations as |observation index|}}
      <tr>
        <td data-test-observation-observationDate={{index}}>{{moment-format
            observation.observationDate
            'DD-MM-YYYY'
          }}</td>
        <td
          data-test-observation-birdname={{index}}
        >{{observation.birdname}}</td>
        <td
          data-test-observation-latLocation={{index}}
        >{{observation.latLocation}}</td>
        <td
          data-test-observation-lngLocation={{index}}
        >{{observation.lngLocation}}</td>
        <td data-test-observation-notes={{index}}>{{observation.notes}}</td>
        <td><ShowObservations::EditDeleteButtons
            @observationOwner={{observation.owner.username}}
            @currentObservation={{observation}}
          /></td>
      </tr>
    {{/each}}
  </tbody>
</table>
<button
  type='button'
  class='btn btn-secondary'
  {{on 'click' this.transitionToAddObservation}}
>Add observation</button>