<span class='date'>
  <div class='input-group mb-3'>
    <span class='input-group-text' name='inputGroup-sizing-default'>From:</span>
    <PikadayInputless
      @format='YYYY-MM-DD'
      @value={{this.dateFrom}}
      @onSelection={{this.onDateFromChange}}
    />
  </div>
</span>
<span class='date'>
  <div class='input-group mb-3'>
    <span class='input-group-text' name='inputGroup-sizing-default'>To:</span>
    <PikadayInputless
      @format='YYYY-MM-DD'
      @value={{this.dateTo}}
      @onSelection={{this.onDateToChange}}
    />
  </div>
</span>
<button
  type='button'
  class='btn btn-secondary'
  {{on 'click' this.sortToggle}}
>Sort by birdname
  {{this.sortArrow}}
</button>
<button
  type='button'
  class='reset btn btn-danger'
  {{on 'click' this.clearFields}}
>Clear
</button>

<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Date</th>
      <th scope='col'>Bird name</th>
      <th scope='col'>Latitude</th>
      <th scope='col'>Longitude</th>
      <th scope='col'>Notes</th>
    </tr>
  </thead>
  <tbody>
    {{#each @observations as |observation|}}
      <tr>
        <td>{{moment-format observation.observationDate 'DD-MM-YYYY'}}</td>
        <td>{{observation.birdname}}</td>
        <td>{{observation.latLocation}}</td>
        <td>{{observation.lngLocation}}</td>
        <td>{{observation.notes}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>