<span class='date'>
  <div class='input-group mb-3'>
    <span class='input-group-text' id='inputGroup-sizing-default'>Date from:</span>
    <PikadayInput
      @format='YYYY-MM-DD'
      @value={{this.observationDate}}
      @onSelection={{this.onDateChange}}
    />
  </div>
</span>
<span class='date'>
  <div class='input-group mb-3'>
    <span class='input-group-text' id='inputGroup-sizing-default'>Date to:</span>
    <PikadayInput
      @format='YYYY-MM-DD'
      @value={{this.observationDate}}
      @onSelection={{this.onDateChange}}
    />
  </div>
</span>
<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Date</th>
      <th scope='col'>Bird name</th>
      <th scope='col'>Location</th>
      <th scope='col'>Notes</th>
    </tr>
  </thead>
  <tbody>
    {{#each @observations as |observation|}}
      <tr>
        <td>{{moment-format observation.observationDate 'DD-MM-YYYY'}}</td>
        <td>{{observation.birdname}}</td>
        <td>{{observation.location}}</td>
        <td>{{observation.notes}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>