{{page-title 'User settings'}}
<GeneralContainer>
  <h1 class='text-center mb-3'>Settings</h1>

  <div class='input-group mb-3'>
    <span class='input-group-text'>Username</span>
    <input
      type='username'
      class='form-control'
      aria-label='Sizing example input'
      value={{this.model.username}}
      placeholder={{this.model.username}}
      {{on 'input' (fn this.onPropertyChange 'username')}}
      data-test-input-username
    />
  </div>
  <div class='input-group mb-3'>
    <span class='input-group-text'>Email</span>
    <input
      type='email'
      class='form-control'
      aria-label='Sizing example input'
      value={{this.model.email}}
      placeholder={{this.model.email}}
      {{on 'input' (fn this.onPropertyChange 'email')}}
      data-test-input-email
    />
  </div>
  <div class='input-group mb-3'>
    <span class='input-group-text'>Info</span>
    <input
      type='info'
      class='form-control'
      aria-label='Sizing example input'
      value={{this.model.info}}
      placeholder={{this.model.info}}
      {{on 'input' (fn this.onPropertyChange 'info')}}
      data-test-input-info
    />
  </div>
  <div class='input-group mb-3'>
    <span class='input-group-text' id='inputGroup-sizing-default3'>
      *Password
    </span>
    <input
      type='password'
      class='form-control'
      aria-label='Sizing example input'
      value={{this.model.password}}
      placeholder={{this.model.password}}
      {{on 'input' (fn this.onPropertyChange 'password')}}
      data-test-input-password
    />
  </div>
  <div class='input-group mb-3'>
    <span class='input-group-text'>Photo</span>
    <input
      type='photoURL'
      class='form-control'
      aria-label='Sizing example input'
      value={{this.photo}}
      placeholder={{this.model.photoURL}}
      {{on 'input' (fn this.onPropertyChange 'photo')}}
      data-test-input-photoURL
    />
    <button
      class='btn btn-outline-secondary'
      type='button'
      id='button-addon2'
      data-bs-toggle='collapse'
      data-bs-target='#collapseDiv'
      aria-expanded='false'
      aria-controls='collapseDiv'
      data-test-choose-photo-button
    >
      Choose photo
    </button>
  </div>

  <RegistrationPhotos @setChosenPhoto={{this.setChosenPhoto}} />

  <div class='mb-3 row'>
    <div class='d-flex'>
      <button
        type='submit'
        class='btn w-50 btn-lg btn-primary active mr-1'
        {{on 'click' this.onSave}}
        data-test-save-button
      >
        Save
      </button>
      <button
        type='button'
        class='btn w-50 btn-lg btn-primary active mr-1'
        {{on 'click' this.onCancel}}
        data-test-cancel-button
      >
        Cancel
      </button>
    </div>
  </div>

</GeneralContainer>

{{outlet}}